@import url("article_header.css");
@import url("article_contents.css");
@import url("article_footer.css");

article {
    color: black;
    margin: 20px;
}

h1 {
    font-size: 1.49rem;
    font-weight: 900;
}

h2 {
    color: royalblue;
}

ul {
    white-space: nowrap;
    text-align: center;
}

li {
    display: inline;
}

img {
    background-image: url("./assets/images/image_clavier_anisse.png");
}

pre {
    border: 3px solid dodgerblue;
}

blockquote {
    border-left: 10px solid lightgrey;
    border-right: 0.5px solid lightgrey;
    width: 380px;
    border-block-start: 0.5px solid lightgrey;
    border-block-end: 0.5px solid lightgrey;
    border-start-start-radius: 3px;
    border-bottom-left-radius: 3px;
}

body main article section p, img, pre, blockquote {
    margin-top: 1.2rem;
}
