body main>article header, .blocblue{
    border-left: 12px solid #2196f3;
    background: whitesmoke;
}

body main section article header h1.blocgreen, .blocgreen{
    border-left: 12px solid yellowgreen;
    background: whitesmoke;
}

body main article header h2 {
    color: gray;
    font-size: 0.94rem;
    font-weight: 400;
}

body main article section h2 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

body main p a {
    color: dodgerblue;
}
