aside {
    width: 25%;
    padding-left: 15px;
}

aside>header div {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    width: 130px;
}

aside>header img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 5px solid rgb(0, 162, 255);
    box-shadow: 0 0 0.3rem rgb(61, 58, 58);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

aside>header img:hover {
    box-shadow: 0 0 0.3rem rgb(0, 162, 255);
}

aside h1{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}

aside h2{
    font-size: .8rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.1rem;
    color: rgb(107, 107, 107);
}

aside p {
    font-size: .9rem;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: justify;   
}
