@font-face {
    font-family: Anisse;
    font-style: normal;
    font-weight: 400;
    src: url('./muli/muli-normal-latin-ext.woff2'), format('woff2'), local("Arial"), local("Helvetica Neue") local("sans-serif");
}
